<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PARSE IT</title>
</head>
<body style="text-align: center">
<form name="request box" action="/" method="post" style="margin: 0 auto; padding-top: 30px">
    <label>String parser</label><br><br>
    <input type="text" name="string_entry" placeholder="Enter your string here"><br><br>
    <input type="text" name="separator" placeholder="Enter your separator symbol"><br><br>
    <input type="submit" value="Submit">
</form>
{% include "database.html" %}
</body>
</html>